table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(52, 52, 52);
    font-size: 14px;
    font-weight: 400;

    

}

th, td,tr {
    padding: 12px 15px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(52, 52, 52);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

td {
    border-bottom: 1px solid #6a6868;
}



/* Icônes d'action */
mat-icon {
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s, transform 0.2s;
}

mat-icon:hover {
    color: #1565c0;
    transform: scale(1.2);
}
button[mat-flat-button] {
    background-color: #1e88e5;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
}
button[mat-flat-button]:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}

button[mat-flat-button] mat-icon {
    margin-right: 5px;
}