
<mat-dialog-content >
  
    <mat-form-field>
        <input matInput
                placeholder="titre"
               formControlName="titre">
    </mat-form-field>
<br>
<mat-form-field>
    <mat-label>type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Type</mat-label>
    
    <mat-select formControlName="type">
      <mat-option value="Conf">Conf</mat-option>
      <mat-option value="Journal">Journal</mat-option>
      <mat-option value="Magazine">Magazine</mat-option>
    </mat-select>
</mat-form-field>  
<br>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      
    <mat-form-field>
        <input matInput
                placeholder="lien"
               formControlName="lien">
    </mat-form-field>
     <br>
     
     <mat-form-field>
        <input matInput
                placeholder="sourcePdf"
               formControlName="sourcePdf">
    </mat-form-field>

    
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions> -->