<div class="cards-container">
    <mat-card appearance="outlined">
      <mat-card-title>Members</mat-card-title>
      <mat-card-content>{{ NB_Members }}</mat-card-content>
    </mat-card>
  
    <mat-card appearance="outlined">
      <mat-card-title>Articles</mat-card-title>
      <mat-card-content>{{ NB_Articles }}</mat-card-content>
    </mat-card>
  
    <mat-card appearance="outlined">
      <mat-card-title>Tools</mat-card-title>
      <mat-card-content>{{ NB_Pubs }}</mat-card-content>
    </mat-card>
  
    <mat-card appearance="outlined">
      <mat-card-title>Events</mat-card-title>
      <mat-card-content>{{ NB_Events }}</mat-card-content>
    </mat-card>
  </div>
  

  <div class="chart-container">
     <div class="chart-wrapper">
      <canvas baseChart
              [type]="'line'"
              [datasets]="chartDataline"
              [labels]="chartLabelsline"
              [options]="chartOptions">
      </canvas>
    </div>
   
  
    <!-- Second Chart </div> 
<div class="chart-wrapper">
    <canvas baseChart
          [type]="'bar'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions">
  </canvas>
</div> -->
    <div class="chart-wrapper">
        <canvas baseChart
              [type]="'pie'"
              [datasets]="chartDataPie"
              [labels]="chartLabelsPie"
              [options]="chartOptionsPie">
      </canvas>
   
</div>
<div class="chart-wrapper">
  <canvas baseChart
          [type]="'bar'"
          [datasets]="chartDataBarLieu"
          [labels]="chartLabelsBarLieu"
          [options]="chartOptionsBarLieu">
  </canvas>
</div>
  <div class="chart-wrapper">
        <canvas baseChart
              [type]="'doughnut'"
              [datasets]="chartDatadoughnut"
              [labels]="chartLabeldoughnuts"
              [options]="chartOptions">
      </canvas>
    </div>